html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

html {
  background-color: #2d6996;
  font-size: 12px; }

div.title {
  padding-top: 4em; }

div.title a {
  margin: 0 auto;
  width: 75%;
  display: block;
  text-align: center;
  font-size: 5em;
  color: #000;
  font-family: "Muli", sans-serif;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media only screen and (max-width: 800px) {
  div.title {
    padding-top: 3em; }

  div.title a {
    font-size: 4em; } }
div.time {
  padding-top: 12em;
  transition: all 0.4s ease-in-out; }

div.time p.platformNum, p.destName, p.timeDepart {
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  vertical-align: middle;
  transition: all 0.4s ease-in-out; }

.platformNum {
  float: left;
  display: table-cell;
  text-align: left;
  width: 23%; }

.destName {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%; }

.timeDepart {
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%; }

@media only screen and (max-width: 800px) {
  div.time {
    padding-top: 5em; }

  div.time p.platformNum, p.destName, p.timeDepart {
    font-size: 3.0em; } }
div.padding {
  padding-top: 3em; }

div.time p.platformNum2, p.destName2, p.timeDepart2 {
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.4s ease-in-out; }

.platformNum2 {
  float: left;
  display: table-cell;
  text-align: left;
  border-radius: 5em;
  border-color: #3a9143;
  width: 23%; }

.destName2 {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%; }

.timeDepart2 {
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%; }

@media only screen and (max-width: 800px) {
  div.time p.platformNum2, p.destName2, p.timeDepart2 {
    font-size: 3.0em; } }
footer.ba {
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 1em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1em;
  text-align: center;
  font-weight: 200;
  color: #dadada; }

/*# sourceMappingURL=bart.css.map */
