html {
  background-color: #2d6996;
  font-size: 12px; }

div.title {
  padding-top: 4em; }

div.title a {
  margin: 0 auto;
  width: 75%;
  display: block;
  text-align: center;
  font-size: 5em;
  color: #000;
  font-family: "Muli", sans-serif;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media only screen and (max-width: 800px) {
  div.title {
    padding-top: 3em; }

  div.title a {
    font-size: 4em; } }
@media only screen and (max-width: 420px) {
  div.title {
    padding-top: 3em; }

  div.title a {
    font-size: 3.6em; } }
div.legendTitle p.Pnumber, p.Cname, p.Tnumber {
  font-style: italic;
  text-decoration: underline;
  font-size: 3em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #153248;
  display: inline-table;
  transition: all 0.4s ease-in-out; }

p.Pnumber {
  float: left;
  display: table-cell;
  text-align: center;
  width: 25%; }

p.Cname {
  display: table-cell;
  text-align: center;
  width: 33.33%; }

p.Tnumber {
  padding-right: 4em;
  text-align: center;
  display: table-cell;
  text-align: right;
  float: right;
  width: auto; }

div.time {
  padding-top: 12em;
  transition: all 0.4s ease-in-out; }

div.time p.platformNum, p.destName, p.timeDepart {
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  vertical-align: middle;
  transition: all 0.4s ease-in-out; }

.platformNum {
  float: left;
  display: table-cell;
  text-align: left;
  width: 23%; }

.destName {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%; }

.timeDepart {
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%; }

@media only screen and (max-width: 800px) {
  div.time {
    padding-top: 5em; }

  div.time p.platformNum, p.destName, p.timeDepart {
    font-size: 3.0em; } }
@media only screen and (max-width: 420px) {
  .platformNum {
    width: 15%; }

  .destName {
    width: 50.33%; }

  .timeDepart {
    padding-right: 0.7em;
    width: auto; }

  div.time {
    padding-top: 5em; }

  div.time p.platformNum, p.destName, p.timeDepart {
    font-size: 2.7em; } }
div.padding {
  padding-top: 3em; }

div.time p.platformNum2, p.destName2, p.timeDepart2 {
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.4s ease-in-out; }

.platformNum2 {
  float: left;
  display: table-cell;
  text-align: left;
  border-radius: 5em;
  border-color: #3a9143;
  width: 23%; }

.destName2 {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%; }

.timeDepart2 {
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%; }

@media only screen and (max-width: 800px) {
  div.time p.platformNum2, p.destName2, p.timeDepart2 {
    font-size: 3.0em; } }
@media only screen and (max-width: 420px) {
  .platformNum2 {
    width: 15%; }

  .destName2 {
    width: 50.33%; }

  .timeDepart2 {
    padding-right: 0.7em;
    width: auto; }

  div.time p.platformNum2, p.destName2, p.timeDepart2 {
    font-size: 2.7em; } }
footer.ba {
  width: 95%;
  margin: 0 auto;
  position: absolute;
  bottom: 1em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1em;
  text-align: center;
  font-weight: 200;
  color: #dadada; }

@media only screen and (max-width: 800px) {
  footer.ba {
    font-size: 0.6em; } }

/*# sourceMappingURL=style.css.map */
