// secondary variables stylesheet

$white: #fff;

$back: #48c6ef;

$robo: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

// input & label stylesheet

@import "vars";

.field
{
  $FieldPaddingTop: 10px;
  $FieldPaddingRight: 0px;
  $FieldPaddingBottom: 10px;
  $FieldPaddingLeft: 0px;

  --uiFieldPaddingTop: var(--fieldPaddingTop, 10px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 0px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 10px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0px);

  $FieldBorderColor: transpatent;
  $FieldBorderTop: 0px;
  $FieldBorderRight: 0px;
  $FieldBorderBottom: 0px;
  $FieldBorderLeft: 0px;

  --uiFieldBorderColor: var(--fieldBorderColor, transpatent);
  --uiFieldBorderTop: var(--fieldBorderTop, 0px);
  --uiFieldBorderRight: var(--fieldBorderRight, 0px);
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0px);
  --uiFieldBorderLeft: var(--fieldBorderLeft, 0px);


  $FieldBgColor: transpatent;
  $FieldPlaceholderColor: #767676;
  $FieldAnimationDuration: 0.3s;
  $FieldFonstSize: 1.5em;

  --uiFieldBgColor: var(--fieldBgColor, transpatent);
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  --uiFieldAnimationDuration: var(--fieldAnimationDuration, .3s);
  --uiFieldFonstSize: var(--fieldFontSize, 1.5em);

  position: relative;
  display: block;
}

.field__input
{

  // margin: 20px;
  // text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--uiFieldBgColor);

  /* for iOS */
  appearance: none;
  border-radius: 0;

  border-style: solid;
  border-color: var(--uiFieldBorderColor);

  border-top-width: var(--uiFieldBorderTop);
  border-right-width: var(--uiFieldBorderRight);
  border-bottom-width: var(--uiFieldBorderBottom);
  border-left-width: var(--uiFieldBorderLeft);

  margin-bottom: 60px;

  padding-top: var(--uiFieldPaddingTop);
  padding-bottom: var(--uiFieldPaddingBottom);
  padding-right: var(--uiFieldPaddingRight);
  padding-left: var(--uiFieldPaddingLeft);

  // input of text into field
  font-family: $robo;
  font-size: 1.2em;
  color: $white;
}

.field__input::-webkit-input-placeholder
{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input::-moz-placeholder
{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input:focus
{
  outline: none;
}

.field__input:focus::-webkit-input-placeholder
{
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__input:focus::-moz-placeholder{
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__label-wrap{
  height: 100%;
  display: block;
}


// controls the underline movement to the right when focused on input box.
.field__label
{
  position: absolute;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
  left: calc(0px + var(--uiFieldPaddingLeft) + var(--uiFieldBorderLeft));

  // Title for each input label
  pointer-events: none;
  font-size: 1.5em;
  font-family: $robo;

  transition: all 0.3s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-in-out;
  // transition: font-size 0.3s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-in-out;
  will-change: top, opacity;
}

@media screen and (max-width: 767px)
{
  .field__label
  {
    font-size: 1.3em;
  }
}

.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

// when clicking on input field, then info text moves up
.field__input:focus ~ .field__label-wrap .field__label
{
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}


// custom added, when data entered is valid, info about input field shows up
.field__input:valid ~ .field__label-wrap .field__label
{
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}


/* type 2 */

.field_type2
{
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0.1em);
  --uiFieldPaddingTop: var(--fieldPaddingTop, 0.5em);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 20px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
}

.field_type2 .field__label-wrap:after
{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 60px;
  left: 0;

  will-change: width;
  transition: width 0.4s ease-out;
}

.field_type2 .field__input:focus ~ .field__label-wrap:after
{
  width: 100%;
}


/*
* demo styles
*/

.field
{
  --fieldBorderColor: #fff;
  --fieldBorderColorActive: lighten($back, 20%);
  --fieldPlaceholderColor: #fff;
  color: #fff;
}

/*
* demo page
*/

@media screen and (min-width: 768px)
{

  html
  {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px)
{

  html
  {
    font-size: 62.5%;
  }
}

body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Open Sans", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

a
{
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus
{
  text-decoration: underline;
}

.page
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo
{
  flex-grow: 2;
  display: flex;
}

.main-container{
  padding-left: 1rem;
  padding-right: 1rem;
}

.page__container{

  width: 80%;
  max-width: 600px;

  padding-top: 0.5rem;
  padding-bottom: 5rem;
  margin: auto;
}

@media screen and (min-width: 641px)
{

  .footer__container
  {
    display: flex;
    justify-content: space-between;
  }
}

// secondary button stylesheet

@import "vars";

// button
// {
//   text-align: center;
//   display: block;
//   margin: 0 auto;
//   width: 320px;
//   height: auto;
//   padding: 15px;
//   background-color: $white;
//   font-family: $robo;
//   text-align: center;
//   color: $back;
//   font-size: 55px;
//   border: 2px green;
//   border-radius: 30px;
//
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//   transition: all 0.6s cubic-bezier(.25,.8,.25,1);
// }

div.overall-butt
{
  margin: -4em 0em 1em 0em;
}

div.overall-butt button.spec-butt
{
  padding: 0;
  margin: 0;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  border: none;
  background-color: $white;
  color: #{darken($back, 20%)};
  text-align: center;
  height: 1.7em;
  width: 5em;
  outline: none;
  border-radius: 0.2em;
  font-family: $robo;
  font-weight: 400;
  font-style: none;

  box-shadow: 0 4px 70px rgba(0,0,0,0.15), 0 12px 10px rgba(0,0,0,0.21);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

@media screen and (max-width: 767px)
{
  div.overall-butt button.spec-butt
  {
    font-size: 22px;
  }
}

// sign up button
div.overall-butt button.spec-butt:hover
{
  cursor: pointer;
  border-radius: 0.2em;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12), 0 4px 2px rgba(0,0,0,0.14);
}

// main stylesheet

@import "vars";

body
{
  background-color: $back;
}

div.title-header
{
  color: $white;
  font-size: 4em;
  font-family: $robo;
  text-align: center;
  font-weight: 100;
  padding: 0em;

  transition: font-size 0.4s ease-in-out;
}

@media screen and (max-width: 767px)
{
  div.title-header
  {
    font-size: 3.3em;
  }
}

// Main Box - below

div.spec-index-box article
{
  max-width: 900px;
  width: 85%;
  height: 35em;
  // background: white;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

div.spec-index-box article.about-info p, a
{
  text-align: center;
  padding: 2em;
  font-family: $open;
  font-size: 1.3em;
  color: $white;

  // display: block;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

// div.spec-index-box article.calculations input
// {
//   margin: 0 auto;
//   border-style: solid;
//   border-width: 2px;
//   border-color: #e7e7e7;
//   border-radius: 5px;
//   width: 305px;
//   height: 45px;
//   padding-left: 10px;
//   // padding: 10px 0 10px 10px;
//   display: inline;
//   outline: none;
// }
//
div.spec-index-box article.calculations label
{
  color: white;
  display: block;
  margin: 0 auto;
}

div.spec-index-box article div.spec-total
{
  text-align: center;
  padding-top: 1.5em;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0.5em;
}

div.spec-index-box article div.spec-total label
{
  font-size: 1.4em;
  font-family: $robo;
  font-weight: 400;
  font-style: none;
}

@media screen and (max-width: 767px)
{
  div.spec-index-box article div.spec-total label
  {
    font-size: 1.2em;
  }
}

div.spec-index-box article div.spec-total input
{
  background-color: transparent;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.08em solid white;
  border-style: solid;

  border-radius: 0.01em;
  color: $white;
  text-align: center;
  height: 2em;
  width: 8em;

  font-size: 1.4em;
  font-family: $robo;
  font-weight: 400;
}

// just for padding above.
div.spec-index-padd
{
  height: 2em;
}
