/* main style */

.nav-wrapper
{
  background-color: #fff !important;
  font-weight: bold;
}

.nav-wrapper a
{
  color: #000 !important;
  font-weight: 300;
}
.btn
{
  color: #000 !important;
}

#rightbtn
{
  float: right;
}

input:focus + label
{
  color: #000 !important;
}

input:focus
{
  border-bottom: 1px #000 !important;
  box-shadow: 0 1px 0 0 #000 !important
}
