// all variables used in basics website.

// main white
$light: #fff;

// secondary white
$seclight: #f8f9fa;

// third white
$thirlight: #f0f1f4;

// main gray
$gray: #f0f1f4;

// sec gray (dark)
$secgray: #acb3c2;

// third gray (darker)
$thirgray: #727e96;

// fourth gray (darker)
$fourgray: #454d5d;

// main font
$fontm: 'Roboto', sans-serif;

// Motto fonts
$fontsec: 'Open Sans';


// Sign up sheet vars:


// old background blue.
$basec: #5B5BE5;

// google fonts - Roboto light
$robo: 'Roboto', sans-serif;

// green color
$green: #15CD72;
