// secondary scss variables stylesheet.

// max width of the content within the navigation bar
$content-width: 1000px;

// at which width the media query breakpoint will effect
$breakpoint: 800px;


$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// main font
$fontm: 'Roboto', sans-serif;
