// main stylesheet

$blue: #8ebfdf;
$robo: 'Roboto', sans-serif;
$dos: 'Dosis', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$maven: 'Maven Pro', sans-serif;
$muli: 'Muli', sans-serif;


body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background {
	width: 100%;
  height: 700px;
  position: relative;
  background-color: $blue;
  background-size: 100% 100%;
}

.clouds {
  width: 200px;
  height: 300px;
  position: absolute;
}

@media only screen and (max-width: 800px)
{
  .clouds
  {
    width: 100px;
    height: 200px;
    position: fixed;
  }
}

.cloud1 {
	top: 1px;
  z-index: 100;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 25s linear infinite;
  -moz-animation: move 25s linear infinite;
  -o-animation: move 25s linear infinite;
  animation: move 25s linear infinite;
}

.cloud2 {
	top: 250px;
  z-index: 200;
  fill: #eee;
  -webkit-animation: move 35s linear 10s infinite backwards;
  -moz-animation: move 35s linear 10s infinite backwards;
  -o-animation: move 35s linear 10s infinite backwards;
  animation: move 35s linear 10s infinite backwards;
}

.cloud3 {
	top: 100px;
  z-index: 300;
  fill: #eee;
  -webkit-animation: move 15s linear 1s infinite backwards;
  -moz-animation: move 15s linear 1s infinite backwards;
  -o-animation: move 15s linear 1s infinite backwards;
  animation: move 15s linear 1s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-200px);}
  to {-webkit-transform: translateX(1350px);}
}


// main content styling:

div.main-content
{
  display: block;
  position: relative;
  padding: 5em;
  z-index: 1000;
}

input, label
{
  display: block;
  margin: 0 auto;
  z-index: 1000;
}

label
{
  margin: 0 auto;
  text-align: center;
}

input:focus
{
  outline:0;
}

input[type="number"], input[type="string"]
{
  border-radius: 0.3em;
  border: none;
  height: 5em;
  width: 15em;
  background-color: darken($blue, 20%);
}
