// main style sheet

@import 'vars'; // importing vars.scss file.

body
{
  background-color: $red;
}

header div .links
{
  color: #FFFFFF;
  font-family: $fontm;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}

// normal unvisited
div.tr:link
{
  color: green;
  text-decoration: none;
}

// visited link
div.links:visited
{
  color: darken( $white, 10% );
  text-decoration: none;
}

//hovering over
div.links:hover
{
  color: $white;
  text-decoration: underline;
}

// currently active link
div.links:active
{
  color: $blue;
  text-decoration: underline;
}
