// main style sheet

@import 'vars'; // importing vars.scss file.

body
{
  background-color: $red;
}

.links
{
  color: $white;
  font-family: $fontm;
  font-size: 20px;
}

// normal unvisited
div.links:link
{
  color: white;
}

// visited link
div.links:visited
{

}

//hovering over
div.links:hover
{

}

// currently active link
div.links:active
{

}
