// secondary style sheet - sign up sheet

@import 'vars'; // importing vars.scss file.

// backgroud color body
body
{
  background-color: $blue;
}
// overall form input - to remove border
fieldset
{
  border: 0;
}
// logo at top
.wavelogo
{
  text-align: left;
  margin-top: 30px;
  margin-left: 40px;
}

img
{
  height: 120px;
  width: 60px;
}

// white box - sign in
.signbox
{
  display: block;
  margin: 0 auto 0 auto; // top right bott left
  text-align: center;
  width: 400px;
  height: 410px;
  background-color: $white;
  border-radius: 3px;
}

// "sign up" text
.signbox > h1
{
  padding: 40px 40px 0px 40px; // top right bott left
  font-family: $robo;
  font-size: 35px;
  color: #505050; // "sign up" color
}

// Email and Password Labels
label
{
  display: block;
  font-family: 'Avenir';
  color: black;
  font-size: 19px;
  text-align: left;
  padding: 0px 0px 10px 27px; // top right bott left
}

// password label control
.password-label
{
  margin: 10px 0px 0px 0px;
}

// input for email address and password boxes
.eadd, .passw
{
  // border: 2px #e7e7e7;
  border-style: solid;
  border-width: 2px;
  border-color: #e7e7e7;
  width: 305px;
  height: 45px;
  padding-left: 10px;
  // padding: 10px 0 10px 10px;
  border-radius: 4px;
  display: inline;
}

.eadd:focus, .passw:focus
{
  outline:0;
}

// place holder
input::-webkit-input-placeholder
{
  color: #B0B0B0;
  font-size: 16px;
  font-family: $robo;
}

// text entered by user - changing font, size, color
input[type="email"]
{
  font-size: 18px;
  font-family: $robo;
  color: black;
}

// sign up button
button
{
  width: 320px;
  height: auto;
  padding: 15px;
  background-color: $red;
  font-family: $robo;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 2px $red;
  border-radius: 3px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

// sign up button
button:hover
{
  // background-color: #0CB863;

  border-radius: 3px;

  box-shadow: 0 9px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// forgot password link
.forgotpass
{
  margin: 10px;
  color: #B0B0B0;
  text-align: center;
  font-family: $robo;
  font-size: 17px;
  text-decoration: underline;
}

// forgot password link - "a" specifically
div.forgotpass a:link
{
  color: #999;
  transition: all 0.5s;
}

// forgot password link - "a" specifically
div.forgotpass a:visited
{
  color: black;
}

// forgot password link - "a" specifically
div.forgotpass a:hover
{
  transition: all 0.5s;
  color: darken($white, 100%);
}

// Already have an account link
.already
{
  font-family: $robo;
  font-weight: bolder;
  color: $white;
  text-align: center;
  font-size: 20px;
}

// un-visited link - already have an account "log in"
div.already a:link // within "already" class, specific element "a"
{
  color: white;
}

// visited link - already have an accoutn "log in"
div.already a:visited // within "already" class, specific element "a"
{
  color: white;
}

// hover link - already have an accoutn "log in"
div.already a:hover // within "already" class, specific element "a"
{
  transition: all 0.3s;
  color: darken($white, 20%);

}
