// all variables used in basics website.

// main red
$red: #CF4647;

// secondary white
$white: #FFFFFF;

// secondary blue
$blue: #3A3E64;

// main font
$fontm: 'Roboto', sans-serif;


// Sign up sheet vars:

// old background blue.
$basec: #298eea;

// google fonts - Roboto light
$robo: 'Roboto', sans-serif;

// green color
$green: #15CD72;
