// all variables used in basics website.

// main red
$red: #CF4647;

// secondary white
$white: #FFFFFF;

// secondary blue
$blue: #4a4a94;

// main font
$fontm: 'Roboto', sans-serif;

// Motto fonts
$fontsec: 'Open Sans';


// Sign up sheet vars:


// old background blue.
$basec: #5B5BE5;

// google fonts - Roboto light
$robo: 'Roboto', sans-serif;

// green color
$green: #15CD72;
