// secondary scss variables stylesheet.

$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$gray: #727e96;
$dgray: #454d5d;
$back: #f8f9fa;
$link-hover-color: #2581DC;
$robo: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
$maven: 'Maven Pro', sans-serif;

// register/signup variables:

$white: #fff; // white
$fontm: 'Roboto', sans-serif;
// open sans defined above
$basec: #5B5BE5; // old background blue.
// robo already defined above
$green: #15CD72; // green color
