// meyer reset - modded

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

// remember to define focus styles!
:focus
{
	outline: 0;
}

body
{
	line-height: 1;
	color: black;
	// background: white;
}

ol, ul
{
	list-style: none;
}

// tables still need 'cellspacing="0"' in the markup
table
{
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: "";
}

blockquote, q
{
	quotes: "" "";
}

// variables

$blue: rgb(45,105,150);
$robo: 'Roboto', sans-serif;
$dos: 'Dosis', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$maven: 'Maven Pro', sans-serif;
$muli: 'Muli', sans-serif;

// main stylesheet w/ imports

@import "var";

html
{
  background-color: $blue;
  font-size: 12px;
}

div.title
{
  padding-top: 4em;
}

div.title a
{
  margin: 0 auto;
  width: 75%;
  display: block;
  text-align: center;
  font-size: 5em;
  color: #000;
  font-family: $muli;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE
  user-select: none; // Chrome and Opera
}

@media only screen and (max-width: 800px)
{
  div.title
  {
    padding-top: 3em;
  }

  div.title a
  {
    font-size: 4em;
  }
}

div.time
{
  padding-top: 12em;
  transition: all 0.4s ease-in-out;
}

div.time p.platformNum, p.destName, p.timeDepart
{
  // width: calc(100% / 3);
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: $robo;
  font-weight: 300;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;
}

.platformNum
{
  float: left;
  display: table-cell;
  text-align: left;
  width: 23%;
}

.destName
{
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%;
}

.timeDepart
{
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%;
}

@media only screen and (max-width: 800px)
{
  div.time
  {
    padding-top: 5em;
  }

  div.time p.platformNum, p.destName, p.timeDepart
  {
    font-size: 3.0em;
  }
}

div.padding
{
  padding-top: 3em;
}

div.time p.platformNum2, p.destName2, p.timeDepart2
{
  // width: calc(100% / 3);
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: $robo;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
}

.platformNum2
{
  float: left;
  display: table-cell;
  text-align: left;
  border-radius: 5em;
  border-color: #3a9143;
  width: 23%;
}

.destName2
{
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%;
}

.timeDepart2
{
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%;
}

@media only screen and (max-width: 800px)
{
  div.time p.platformNum2, p.destName2, p.timeDepart2
  {
    font-size: 3.0em;
  }
}

footer.ba
{
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 1em;
  font-family: $robo;
  text-align: center;
  // font-style: italic;
  font-size: 1em;
  text-align: center;
  font-weight: 200;
  color: #dadada;
}
