// main stylesheet w/ imports

@import "var";

html
{
  background-color: $blue;
  font-size: 12px;
}

div.title
{
  padding-top: 4em;
}

div.title a
{
  display: block;
  text-align: center;
  font-size: 5em;
  color: #000;
  font-family: $muli;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE
  user-select: none; // Chrome and Opera
}

@media only screen and (max-width: 800px)
{
  div.title
  {
    padding-top: 3em;
  }

  div.title a
  {
    font-size: 4em;
  }
}

div.time
{
  padding-top: 12em;
  transition: all 0.4s ease-in-out;
}

div.time p.platformNum, p.destName, p.timeDepart
{
  // width: calc(100% / 3);
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: $robo;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
}

.platformNum
{
  float: left;
  display: table-cell;
  text-align: left;
  border-radius: 5em;
  border-color: #3a9143;
  width: 23%;
}

.destName
{
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%;
}

.timeDepart
{
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%;
}

@media only screen and (max-width: 800px)
{
  div.time
  {
    padding-top: 5em;
  }

  div.time p.platformNum, p.destName, p.timeDepart
  {
    font-size: 3.0em;
  }
}

div.padding
{
  padding-top: 15em;
}

div.time p.platformNum2, p.destName2, p.timeDepart2
{
  // width: calc(100% / 3);
  text-align: center;
  display: inline-table;
  margin: auto;
  font-size: 4.4em;
  color: #fff;
  font-family: $robo;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
}

.platformNum2
{
  float: left;
  display: table-cell;
  text-align: left;
  border-radius: 5em;
  border-color: #3a9143;
  width: 23%;
}

.destName2
{
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  width: 43.33%;
}

.timeDepart2
{
  display: table-cell;
  text-align: right;
  float: right;
  width: 33.33%;
}

footer.ba
{
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 1em;
  font-family: $robo;
  text-align: center;
  // font-style: italic;
  font-size: 1em;
  text-align: center;
  font-weight: 200;
  color: #dadada;
}
