// menu stylesheet

@import "vars";

body
{
  background-color: $black;
}

div.imgLogo img
{
  transition: all 0.6 ease-in-out;
	padding-top: 1em;
	height: auto;
	width: 40%;

	display: block;
  margin-left: auto;
  margin-right: auto;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width: 50em)
{
  div.imgLogo img
  {
    transition: all 0.6 ease-in-out;
    width: 85%;
    height: auto;
  }
}

div.menuTitle article h1
{
  margin-left: 5%;
  color: #fff;
  font-family: $muli;
  font-weight: 300;
  font-size: 2em;
  transition: all 0.6 ease-in-out;
}

@media screen and (max-width: 800px)
{
  div.menuTitle article h1
  {
    font-size: 1.6em;
  }
}

div.descriptionMenus article
{
  width: 80%;
  text-align: center;
  background-color: $black;
  margin: 0 auto;
  display: inline-flex;

  transition: all 0.6s ease-in-out;
}

div.descriptionMenus article p.firstInfo
{
  // width: 2em;
  text-align: justify;
  text-justify: inter-word;
  // display: inline-block;

  padding-right: 7%;

  font-family: $ubu;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
}

div.descriptionMenus article p.secondInfo
{
  text-align: justify;
  text-justify: inter-word;
  // display: inline-block;

  // padd

  font-family: $ubu;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
}

img.food1, img.food2, img.food3
{
  display: inline-block;
  justify-content: center;
  margin-left: 0.8%;
  padding: 1%;
  width: calc(30%);
  height: auto;
}
