// main variables for all stylesheets

$white: #fff;
$red: #e65238;
$black: #1f1e1e;
$robo: 'Roboto', sans-serif;
$dos: 'Dosis', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$maven: 'Maven Pro', sans-serif;
$muli: 'Muli', sans-serif;
