extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Photography Club is a welcoming place for people of all backgrounds, we welcome everyone to come and see what Photo Club is all about!

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Join Photography Club!
