extends layout

block content
        h1 About Us
        p Photography Club is a welcoming place for people of all backgrounds, we welcome everyone to come and see what Photo Club is all about!

        a(href='/register') Join Photography Club!
