extends layout

block content
        h1 About Us
        p Photography Club is a welcoming place for people of all backgrounds, we welcome everyone to come and see what Photo Club is all about!
        p Sidenote, to edit style here, need to change the CSS in main nav bar style sheet

        a(href='/register') Join Photography Club!
