extends layout

block content
  .spec-about-padd-top
  .spec-about-box
    article
      p Photo Club welcomes individuals from all backgrounds, societies, and regions! Join us on Wednesdays in SEC 380!
  .spec-about-padd
  
    
  //-
        h1 About Us
        p Photography Club is a welcoming place for people of all backgrounds, we welcome everyone to come and see what Photo Club is all about!
        a(href='/register') Join Photography Club!
