extends layout

block content
  .spec-index-padd-top
  .spec-index-box
    article
      p Located in SEC 380 on Wednesdays at 6:30pm.
  .spec-index-padd
  
  
  
  
  //-
        h1 Contact Us
        p the information to contact photography club!

        a(href='/register') Get in touch
