extends layout

block content
  .spec-index-padd-top
  .spec-index-img
    img(src='/images/photo_club_wall.jpg', alt='Photo Club group photo')
  .spec-index-padd
  .spec-index-box
    article
      p Learn, Share, and Enjoy Photography. Come join us to find out more!
  .spec-index-padd
