doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Photo - #{title}
    
  link(rel='stylesheet', type='text/css', href='/CSS/style.css') 
  link(rel='stylesheet', type='text/css', href='/CSS/register.css')
  link(rel='stylesheet', type='text/css', href='/CSS/login.css')
  link(rel='stylesheet', type='text/css', href='/CSS/index.css')
  link(rel='stylesheet', type='text/css', href='/CSS/about.css')
  link(rel='stylesheet', type='text/css', href='/CSS/error.css')
  link(rel='stylesheet', type='text/css', href='/CSS/vars.css') 
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,300,400,700,900', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Maven+Pro', rel='stylesheet')

  body
    // load navbar.jade
    include navbar

    // content block
    block content

    // footer
    // p Made in the Bay Area - Ronan M. Website

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='JS/script-navbar.js', charset='utf-8')

    
