extends layout

block content
  .spec-login-padding
  .spec-login
    article.login
      .loginbox
        h1 Login
        form.login-form(method='POST' action='/login')
          fieldset(name='login-info')
            label.email-label(for='email') Email 
            input#email-address.eadd(placeholder='@.com', type='email', name='email-address', required='')
            label.password-label(for='pw') Password
            input#password.passw(placeholder='•••••••', type='password', name='password', required='')
          button(type='submit') Login

  
  
  
  
  
  
  //-
        h1 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Log in        
