extends layout

block content
  .spec-login-padding
  .spec-login
    article.login
      .loginbox
        h1 Login
        form.login-form(method='POST' action='/login') <!-- Up to here -->
          fieldset(name='login-info')
            label.email-label(for='email') Email 
            input#email-address.eadd(type='text' placeholder='email' name='email' required='')
            label.password-label(for='password') Password
            input#password.passw(type='password' placeholder='•••••••' name='password' required='')
          button(type='submit') Login

//-  .spec-login-padding
  .spec-login
    article.login
      .loginbox
        h1 Login
        form.login-form(method='POST' action='/login')
          fieldset(name='login-info')
            label.email-label(for='email') Email 
            input#email-address.eadd(placeholder='@.com', type='email', name='email-address', required='')
            label.password-label(for='pw') Password
            input#password.passw(placeholder='•••••••', type='password', name='password', required='')
          button(type='submit') Login

  
