section.navigation
      .nav-container
        .brand
          a(href='/') Photo Club 
        nav
          .nav-mobile
            a#nav-toggle(href='#!')
              span
          ul.nav-list
            li
              if !currentUser
                a(href='register') Sign Up
            li
              a(href='about') About
            li
              a(href='#!') Connections
              ul.nav-dropdown
                li
                  a(href='contact') Actual Connections
            li
              a(href='profile') My Profile
            //- li
            //-   a(href='login') Login
              
          
            if (currentUser)
              li
                a(href='/logout') Log out
            else
              li 
                a(href='login') Login



<!-- nav -->
  <!-- button -->
  //- #navbar.navbar-nav.collapse.navbar-toggleable-sm
  //-   .container
  //-     a.navbar-brand(href='/')
  //-       | Bookworm
  //-     .nav-items.clearfix
  //-       a.nav-item.nav-link(href='register') Sign Up
  //-       a.nav-item.nav-link(href='about') About
  //-       a.nav-item.nav-link(href='contact') Connection
  //-       a.nav-item.nav-link(href='profile') My Profile
  //- 
  //-     a.btn.btn-info.pull-md-right(href='login') Login*/


//- Sign up
//- About
//- Connection
//- my profile
//- login
