extends layout

block content
  .spec-profile-padd-top
  .spec-profile-box
    article
      h1 Name:
      p #{name}
      h1 Favorite Lens:
      p #{favorite}
  .spec-profile-padd
    
    
    
    
    //-
        h1 Name:
        i  #{name}
        h2 Favorite Lens:
        i  #{favorite}
