extends layout

block content
      h1 Sign Up
      
      // register form
      form(method='POST' action='/register')
        div.form
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='First and Last' name='name')
        div.form-group
          label(for='email') Email:
          input#email.form-control(type='email', placeholder='name@email.com' name='email')
        div.form-group
          label(for='camera') Camera:
          input#camera.form-control(type='text', placeholder='Camera' name='camera')
        div.form-group
          label(for='pw') Password:
          input#pw.form-control(type='password' name='password')
        div.form-group
          label(for='pw2') Confirm Password:
          input#pw2.form-control(type='password' name='confirmPassword')
        button(type='submit') Sign up

        //- .main.container.row
        //-   .col-md-6.col-md-offset-3
