// main stylesheet

@import "vars";

html
{
  font-size: 12px;
  box-sizing: border-box;
}

div.title
{
  margin: 0;
  padding: 0;
}

div.title p
{
  text-align: center;
  font-family: $ubu;
  font-size: 4em;
  font-style: normal;
  font-weight: 300;
}
