// main stylesheet

@import "vars";

html
{
  font-size: 12px;
  box-sizing: border-box;
}

div.title
{
  margin: -2em 0 0 0;
  padding: 0;
}

div.title p
{
  color: white;
  letter-spacing: 3px;
  text-align: center;
  font-family: $dos;
  font-size: 6em;
  font-style: normal;
  font-weight: 300;
}
