// variable stylesheet

$background-col: #bababa;
$back: #585858;
$black: #080808;
$robo: 'Roboto', sans-serif;
$dos: 'Dosis', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$maven: 'Maven Pro', sans-serif;
$muli: 'Muli', sans-serif;
