// input & label stylesheet

@import "vars";

.field
{
  --uiFieldPaddingTop: var(--fieldPaddingTop, 10px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 0px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 10px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0px);

  --uiFieldBorderColor: var(--fieldBorderColor, transpatent);
  --uiFieldBorderTop: var(--fieldBorderTop, 0px);
  --uiFieldBorderRight: var(--fieldBorderRight, 0px);
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0px);
  --uiFieldBorderLeft: var(--fieldBorderLeft, 0px);

  --uiFieldBgColor: var(--fieldBgColor, transpatent);
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  --uiFieldAnimationDuration: var(--fieldAnimationDuration, .3s);
  --uiFieldFonstSize: var(--fieldFontSize, 1.5em);

  position: relative;
  display: block;
}

.field__input
{

  // margin: 20px;
  // text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--uiFieldBgColor);

  /* for iOS */
  appearance: none;
  border-radius: 0;

  border-style: solid;
  border-color: var(--uiFieldBorderColor);

  border-top-width: var(--uiFieldBorderTop);
  border-right-width: var(--uiFieldBorderRight);
  border-bottom-width: var(--uiFieldBorderBottom);
  border-left-width: var(--uiFieldBorderLeft);

  margin-bottom: 60px;

  padding-top: var(--uiFieldPaddingTop);
  padding-bottom: var(--uiFieldPaddingBottom);
  padding-right: var(--uiFieldPaddingRight);
  padding-left: var(--uiFieldPaddingLeft);

  font-family: $robo;
  font-size: 1.2em;
  color: $white;
}

.field__input::-webkit-input-placeholder
{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input::-moz-placeholder
{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input:focus
{
  outline: none;
}

.field__input:focus::-webkit-input-placeholder
{
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__input:focus::-moz-placeholder{
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__label-wrap{
  height: 100%;
  display: block;
}


// controls the underline movement to the right when focused on input box.
.field__label
{
  position: absolute;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
  left: calc(0px + var(--uiFieldPaddingLeft) + var(--uiFieldBorderLeft));

  pointer-events: none;
  font-size: 1.5em;
  font-family: $robo;

  transition: top 0.3s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-in-out;
  will-change: top, opacity;
}

.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

// when clicking on input field, then info text moves up
.field__input:focus ~ .field__label-wrap .field__label
{
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}


// custom added, when data entered is valid, info about input field shows up
.field__input:valid ~ .field__label-wrap .field__label
{
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}


/* type 2 */

.field_type2
{
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0.1em);
  --uiFieldPaddingTop: var(--fieldPaddingTop, 0.5em);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 20px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
}

.field_type2 .field__label-wrap:after
{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 60px;
  left: 0;

  will-change: width;
  transition: width 0.4s ease-out;
}

.field_type2 .field__input:focus ~ .field__label-wrap:after
{
  width: 100%;
}


/*
* demo styles
*/

.field
{
  --fieldBorderColor: #fff;
  --fieldBorderColorActive: lighten($back, 20%);
  --fieldPlaceholderColor: #fff;
  color: #fff;
}

/*
* demo page
*/

@media screen and (min-width: 768px)
{

  html
  {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px)
{

  html
  {
    font-size: 62.5%;
  }
}

body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Open Sans", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

a
{
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus
{
  text-decoration: underline;
}

.page
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo
{
  flex-grow: 2;
  display: flex;
}

.main-container{
  padding-left: 1rem;
  padding-right: 1rem;
}

.page__container{

  width: 80%;
  max-width: 600px;

  padding-top: 0.5rem;
  padding-bottom: 5rem;
  margin: auto;
}

@media screen and (min-width: 641px)
{

  .footer__container
  {
    display: flex;
    justify-content: space-between;
  }
}
