// main stylesheet

@import "vars";

body
{
  background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
}

.title-header
{
  color: $white;
  font-size: 4em;
  font-family: $robo;
  text-align: center;
  font-weight: 100;
}
