extends layout

block content
  .spec-index-padd-top
  
  .spec-index-box-total  
    .spec-index-box-outer
      .spec-index-box
        article
          p Student, Developer, Photographer
      .spec-index-padd
