doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='description', content="mongo storage test")
  meta(name='keywords', content='mongo, db, js')
  meta(name='author', content='Ronan')

  title RM - #{title}
      
  //- //- link(rel='stylesheet', type='text/css', href='/css/error.css')  
  //- //- link(rel='stylesheet', type='text/css', href='/css/index.css')
  
  //- link(rel="shortcut icon", type="image/x-icon", href="images/rm_small.ico")
    
  link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900', rel='stylesheet')
    
  body
    // load navbar.pug
    include navbar

    // content block
    block content

    script(async='', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='JS/script-navbar.min.js', charset='utf-8')

    
