doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='description', content="mongo storage test")
  meta(name='keywords', content='mongo, db, js')
  meta(name='author', content='Ronan')

  title Mongo Test
      
  //- link(rel='stylesheet', type='text/css', href='/css/error.css')  
  //- link(rel='stylesheet', type='text/css', href='/css/index.css')
  
  //- link(rel="shortcut icon", type="image/x-icon", href="images/rm_small.ico")
    
  body
    //- load navbar.pug
    //- include index

    //- content block
    //- block content

    script(async='', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //- script(type='text/javascript', src='JS/script-navbar.min.js', charset='utf-8')

    
