// main stylesheet

$blue: #8ebfdf;
$robo: 'Roboto', sans-serif;
$dos: 'Dosis', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$maven: 'Maven Pro', sans-serif;
$muli: 'Muli', sans-serif;

html{
  background-color: $blue;
  border: none;
  font-size: 12px;
}


body {
  // overflow: hidden;
  margin: 0;
  // padding: 0;
}

.background {
	width: 100%;
  height: 100%;
  position: relative;
  background-color: $blue;
  background-size: 100% 100%;
}

.clouds {
  width: 200px;
  height: 300px;
  position: absolute;
}

@media only screen and (max-width: 800px)
{
  .cloud1
  {
    width: 150px;
    height: 200px;
    position: fixed;
  }
  .cloud2
  {
    width: 90px;
    height: 150px;
    position: fixed;
  }
  .cloud3
  {
    width: 90px;
    height: 120px;
    position: fixed;
  }
  .cloud4
  {
    width: 175px;
    height: 225px;
    position: fixed;
  }
}

.cloud1
{
	top: 1px;
  z-index: 100;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 25s linear infinite;
  -moz-animation: move 25s linear infinite;
  -o-animation: move 25s linear infinite;
  animation: move 25s linear infinite;
}

.cloud2
{
	top: 200px;
  z-index: 200;
  fill: #eee;
  -webkit-animation: move 35s linear 10s infinite backwards;
  -moz-animation: move 35s linear 10s infinite backwards;
  -o-animation: move 35s linear 10s infinite backwards;
  animation: move 35s linear 10s infinite backwards;
}

.cloud3
{
	top: 350px;
  z-index: 300;
  fill: #eee;
  -webkit-animation: move 15s linear 1s infinite backwards;
  -moz-animation: move 15s linear 1s infinite backwards;
  -o-animation: move 15s linear 1s infinite backwards;
  animation: move 15s linear 1s infinite backwards;
}

.cloud4
{
	top: 550px;
  z-index: 400;
  fill: #eee;
  -webkit-animation: move 45s linear 1s infinite backwards;
  -moz-animation: move 45s linear 1s infinite backwards;
  -o-animation: move 45s linear 1s infinite backwards;
  animation: move 45s linear 1s infinite backwards;
}

@media only screen and (max-width: 800px)
{
  .cloud1
  {
  	top: 300px;
    z-index: 100;
    fill: #eee;
    /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
    -webkit-animation: move 25s linear infinite;
    -moz-animation: move 25s linear infinite;
    -o-animation: move 25s linear infinite;
    animation: move 25s linear infinite;
  }
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-200px);}
  to {-webkit-transform: translateX(1350px);}
}


// main content styling:

div.title
{
  padding-top: -20px;
  // margin: 0;
}

div.title p
{
  position: relative;
  font-family: $ubu;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 6em;

  transition: all 0.6s ease-in-out;
}

@media only screen and (max-width: 800px)
{
  div.title p
  {
    margin-top: -1em;
    font-size: 4.8em;
  }

}

div.button-spec
{
  margin: 20px;
}

div.button-spec button
{
  font-family: $muli;
  font-size: 1.2em;
  outline: none;
  border: none;
  background: transparent;
  height: 3rem;
  width: 15rem;
  background-color: lighten($blue, 5%);
  border-radius: 0.3em;
}

@media only screen and (max-width: 800px)
{
  div.button-spec button
  {
    font-size: 1.2em;
    height: 3rem;
    width: 13rem;
  }
}

div.main-content
{
  display: block;
  position: relative;
  padding-top: 10em;
  z-index: 1000;
}

div.spacing-boxes
{
  margin: 5em;
}


input, label
{
  display: block;
  margin: 0 auto;
  z-index: 1000;
}

label[for=style]
{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-family: $dos;

  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 800px)
{
  label[for=style]
  {
    font-size: 1.8em;
  }
}

input::placeholder
{
  color: #e7e5e1;
}

input:focus
{
  outline:0;
}

input[type="number"]
{
  opacity: 0.9;
  font-family: $muli;
  font-size:2em;
  text-align: center;
  color: #fff;
  border-radius: 0.3em;
  border: none;
  height: 5rem;
  width: 20rem;
  background-color: darken($blue, 10%);

  transition: all 0.4s ease-in-out;
}

input[type="string"]
{
  opacity: 0.9;
  font-family: $dos;
  font-size:2.5em;
  text-align: center;
  color: #fff;
  border-radius: 0.3em;
  border: none;
  height: 5rem;
  width: 20rem;
  background-color: darken($blue, 7%);

  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 800px)
{
  input[type="number"]
  {
    height: 4rem;
    width: 16rem;
    font-size: 1.7em;
  }
   input[type="string"]
   {
     height: 4rem;
     width: 16rem;
     font-size: 2em;
   }
}
